<div class="row-fluid">
    <div class="span12">
        <header class="room-name">
            <h1>{{roomId}}</h1>
        </header>
    </div>
</div>
<div class="row-fluid" ng-app="foresee">
    <div class="span9">
        <div class="box">
            <div class="row-fluid">
                <div class="span12">
                    <h2>Vote Results</h2>
                        <div class="instructions">
                        <div id="cards" ng-controller="foresee.moderator.CardCtrl">
                            <div class="card_holder" ng-repeat="card in participantCards" >
                                <div class="card">{{card.score}}</div><span class='name'>{{card.name}}</name>
                            </div>
                            <div style="clear:both"></div>
                        </div>
                        <br/>
                    </div>
                    <button type="submit" class="btn btn-blue">Reset Votes</button>
                    (implement me!)
                </div>
            </div>
        </div>

    </div>
    <div class="span3">
        <div class="box box-small">
            <qrcode version="4" error-correction-level="M" size="95" data="{{url}}"></qrcode>
            <input type="text" ng-value="url + '/#/join/' + roomId"><br/>
            <p>Scan QR code or copy the link to join</p>
            <hr>
            <div ng-controller="foresee.moderator.ParticipantListCtrl" ng-init="init(roomId)">
                <h2>Participants (<span id="participantsCount">{{participants.length}}</span>)</h2>
                <ul id="participants">
                    <li ng-repeat="participant in participants">
                        {{participant}} [<a style="cursor: pointer;" ng-click="removeParticipant(participant)">x</a>]
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
