html {
	vertical-align: baseline;
	-webkit-font-smoothing: antialiased;
}

body,
p/*, 
input, 
button, 
select, 
textarea*/ {
	line-height: 1.5em;
	/*font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;*/
}

body {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #f1f1f1;
}

.container-fluid {
	margin: 0 auto;
	padding: 0;
	max-width: 700px;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.5em;
	color: #555;
	margin-bottom: 14px;
}

h1 {
	font-size: 4.5em;
	font-weight: 800;
	letter-spacing: -.02em;
	color: #666;
}

h2 {
	text-transform: uppercase;
	font-size: 1.2em;
	letter-spacing: .1em;
}

p {
	font-size: 1.2em;
	margin-bottom: 14px;
}

header {
	text-transform: capitalize;
	text-shadow: #fff 2px 2px 2px, #fff -2px -2px 2px;
	text-align: center;
}

header h1 {
	/*color: #4f7cb2;*/
	margin-bottom: 0px;
}

/*** box content ***/

.box {
	margin: 0 auto 10px;
	padding: 60px;
	max-width: 860px;
	background: #fff;
	-moz-box-shadow: 0px 4px 20px rgba(0,0,0,0.06);
	-webkit-box-shadow: 0px 4px 20px rgba(0,0,0,0.06);
	box-shadow: 0px 4px 20px rgba(0,0,0,0.06);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.box>.row-fluid>.span6 {
	width: 50%;
	margin-left: 0;
	padding-bottom: 30px;
}

.box>.row-fluid>.span6:first-child {
	padding-right: 60px;
}

.box>.row-fluid>.span6:last-child {
	padding-left: 60px;
	border-left: 1px solid #eee;
}

.box h2{
	text-align: center;
}

.form-horizontal input[type=text] {
	margin-bottom: 8px;
}

hr {
	margin-top: 0;
	margin-bottom: 30px;
	border-top: 1px solid #eee;
}

#tagline p:last-child {
	margin-bottom: 0;
}

/*** end of box content ***/