html, 
h1,
h2,
h3,
h4,
h5,
h6,
p {
	font: 125%/1.5 Merriweather, Georgia, "Times New Roman", Timesserif;
	color: #252525;
	vertical-align: baseline;
	-webkit-font-smoothing: antialiased;
	/*-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;*/
}

body {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #f1f1f1;
}

.container-fluid {
	margin: 0 auto;
	padding: 0;
	max-width: 860px;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
	font-size: 64px;
	font-weight: 800;
	letter-spacing: -.02em;
}

p {
	font-family: Merriweather, Georgia, "Times New Roman", Times, serif;
}

header {
	color: #333;
	text-transform: capitalize;
	text-shadow: #fff 3px 3px 2px, #fff -3px -3px 2px;
	text-align: center;
}

/*header {
	text-align: center;
}*/

.box {
	margin: 0 auto;
	padding: 60px;
	max-width: 860px;
	min-height: 240px;
	background: #fff;
	-moz-box-shadow: 0px 4px 20px rgba(0,0,0,0.06);
	-webkit-box-shadow: 0px 4px 20px rgba(0,0,0,0.06);
	box-shadow: 0px 4px 20px rgba(0,0,0,0.06);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

footer {
	padding-top: 20px;
}