/*** 

TO DO:
- Refactor and clean up code
- Foresee page title: fix Arial looks when on Windows // use image?
- Add: tab to jump from input to input not button; except when user just entered something into an input field, then tab to jump to corresponding button
- Fix browser-specific issues
- Make it responsiveness
- Mobile site
- Style for ther pages
- Host.ect button type="submit"`

***/

/*** structure and typography ***/

html {
	vertical-align: baseline;
	-webkit-font-smoothing: antialiased;
}

body,
p, 
input[type="text"], 
button, 
select, 
textarea {
	line-height: 1.5em;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #555;
}

body {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #f1f1f1;
}

.container-centered {
	margin: 0 auto;
	padding: 0;
	max-width: 700px;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.5em;
	color: #555;
	margin-bottom: 14px;
}

h1 {
	font-size: 5em;
	font-weight: 100;
	letter-spacing: .05em;
	margin-bottom: 0;
}

h2 {
	text-transform: uppercase;
	font-size: 1.2em;
	letter-spacing: .1em;
}

p {
	font-size: 1.1em;
	margin-bottom: 14px;
}

/*** override input ***/

input[type="text"] {
	font-size: 1.1em;
	-webkit-font-smoothing: antialiased;
	color: #333;
	height: 2.8em;
	text-indent: 4px;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 1px solid #407aa9;
}

/*** button styles ***/

.btn {
	border-width: 0;
	border-style: solid;
	*zoom: 1;
	background-color: #373f4a;
	border-color: #ccc;
	color: white;
	-webkit-font-smoothing: antialiased;
	border-radius: 4px;
	cursor: pointer;
	width: auto;
	-webkit-box-shadow: none;
	box-shadow: none;
	text-decoration: none;
	text-shadow: none !important;
	background-image: none;
	font-weight: bold;
	font-size: .9em;
	padding: 10px 18px;
}

/*.btn:hover {
	-webkit-box-shadow: inset 0 0 0 1px #0c0d0f,inset 0 2px 0 0 #424b59;
	box-shadow: inset 0 0 0 1px #0c0d0f,inset 0 2px 0 0 #424b59;
	background-color: #000;
	color: white;
	text-decoration: none;
}*/

.btn-blue {
	-webkit-box-shadow: inset 0 0 0 1px #245589,inset 0 2px 0 0 #82aede;
	box-shadow: inset 0 0 0 1px #245589,inset 0 2px 0 0 #82aede;
	background-color: #407aa9;
	border-color: #ccc;
	background-image: none;
	color: white;
}

.btn-blue:hover {
	-webkit-box-shadow: inset 0 0 0 1px #245589,inset 0 2px 0 0 #5994d3;
	box-shadow: inset 0 0 0 1px #245589,inset 0 2px 0 0 #5994d3;
	background-color: #407bba;
	color: white;
}

.btn-green {
	-webkit-box-shadow: inset 0 0 0 1px #245589,inset 0 2px 0 0 #4bcc75;
	box-shadow: inset 0 0 0 1px #245589,inset 0 2px 0 0 #4bcc75;
	background-color: #399f5c;
	border-color: #ccc;
	background-image: none;
	color: white;
}

.btn-green:hover {
	-webkit-box-shadow: inset 0 0 0 1px #245589,inset 0 2px 0 0 #5994d3;
	box-shadow: inset 0 0 0 1px #245589,inset 0 2px 0 0 #3fac63;
	background-color: #3ca55e;
	color: white;
}

.btn-blue.disabled,
.btn-blue[disabled],
.btn-green.disabled,
.btn-green[disabled] {
  background-color: #666;
  *background-color: #666;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/*** header ***/

.container-centered>header h1 {
	text-align: center;
	color: #407aa9;
}

/*** box content ***/

.box {
	margin: 0 auto 10px;
	padding: 60px;
	background: #fff;
	-webkit-box-shadow: 0px 4px 20px #999;
	box-shadow: 0px 4px 20px #999;
	border-radius: 3px;
}


.box>.row-fluid>.span6 {
	width: 50%;
	margin-left: 0;
	padding-bottom: 30px;
}

.box>.row-fluid>.span6:first-child {
	padding-right: 60px;
}

.box>.row-fluid>.span6:last-child {
	padding-left: 60px;
	border-left: 1px solid #eee;
}

.box h2 {
	text-align: center;
	color: #555658;
	font-size: 1em;
	font-weight: 700;
}

.form-horizontal input[type=text], .form-horizontal textarea, .well  {
	margin-bottom: 8px;
}

hr {
	margin-top: 0;
	margin-bottom: 30px;
	border-top: 1px solid #eee;
}

#about p:last-child {
	margin-bottom: 0;
}

/* @group css for host web */

.room-name h1 {
	text-align: left;
	color: #407aa9;
	padding-left: 8px;
}

.box-small {
	padding: 30px;
}

.box>.row-fluid>.span12 {
	padding-bottom: 30px;
}

.sidebar {
	background-color: #fff;
	border-left: 1px solid #666;
	height: 100%;
}

/* @end */

